body {
  background-color: blue;
  animation: colorTransition 6s infinite;
}

@keyframes colorTransition {
  0% {
    background-color: blue;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: blue;
  }
}
